<a href="https://colab.research.google.com/github/leticiagcsilva/Projetos_DataScience/blob/main/Precifica%C3%A7%C3%A3o_de_Planos_de_Sa%C3%BAde.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(em construção)

### Análise Exploratória

In [52]:
# Libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
data =  pd.read_csv('Dados.csv')

In [54]:
data.shape

(3630, 7)

In [55]:
data.isnull().sum()

age         0
sex         0
bmi         0
smoker      0
region      0
children    0
charges     0
dtype: int64

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3630 entries, 0 to 3629
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       3630 non-null   float64
 1   sex       3630 non-null   object
 2   bmi       3630 non-null   float64
 3   smoker    3630 non-null   object
 4   region    3630 non-null   object
 5   children  3630 non-null   int64
 6   charges   3630 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 198.6+ KB

In [57]:
data.describe()

               age          bmi     children       charges
count  3630.000000  3630.000000  3630.000000   3630.000000
mean     38.887036    30.629652     2.503581  12784.808644
std      12.151029     5.441307     1.712568  10746.166743
min      18.000000    15.960000     0.000000   1121.873900
25%      29.000000    26.694526     1.000000   5654.818262
50%      39.170922    30.200000     3.000000   9443.807222
75%      48.343281    34.100000     4.000000  14680.407505
max      64.000000    53.130000     5.000000  63770.428010

In [58]:
data.describe(include=['O'])

         sex smoker     region
count   3630   3630       3630
unique     2      2          4
top     male     no  southeast
freq    2029   3070       1021

### Pré-processamento dos dados

In [59]:
# Arredondar a Variável AGE:
data['age'] = round(data['age'])

In [60]:
# Encoding: Transformar variáveis em numéricas
data = pd.get_dummies(data, drop_first=True)
data = data[['age','sex_male','smoker_yes','bmi','children','region_northwest','region_southeast','region_southwest','charges']]
# top 2 records, after encoding:
data.head(2)

,age,sex_male,smoker_yes,bmi,children,region_northwest,region_southeast,region_southwest,charges
0,21.0,1,0,25.745000,2,0,0,0,3279.868550
1,37.0,0,1,25.744165,3,0,1,0,21454.494239

In [61]:
# Columns of dataset:
data.columns

Index(['age', 'sex_male', 'smoker_yes', 'bmi', 'children', 'region_northwest',
       'region_southeast', 'region_southwest', 'charges'],
      dtype='object')

In [62]:
# Splitting Independent & Dependent Feature:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [63]:
X.head(2)

,age,sex_male,smoker_yes,bmi,children,region_northwest,region_southeast,region_southwest
0,21.0,1,0,25.745000,2,0,0,0
1,37.0,0,1,25.744165,3,0,1,0

In [64]:
y.head(2)

0     3279.868550
1    21454.494239
Name: charges, dtype: float64

In [65]:
# Train Test Split:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=0)

In [66]:
# Importing métricas de avaliação:
from sklearn.metrics import mean_squared_error, r2_score

### Implementação do Algorítimo de Machine Learning

#### Linear Regression:

In [67]:
# Linear Regression:
from sklearn.linear_model import LinearRegression
LinearRegression = LinearRegression()
LinearRegression = LinearRegression.fit(X_train, y_train)

# Prediction:
y_pred = LinearRegression.predict(X_test)

# Scores:
print(r2_score(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))

0.7299097193973014
31609240.00229648

#### Regressão Ridge

In [68]:
# Ridge:
from sklearn.linear_model import Ridge
Ridge = Ridge()
Ridge = Ridge.fit(X_train, y_train)

# Prediction:
y_pred = Ridge.predict(X_test)

# Scores:
print(r2_score(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))

0.729911268768292
31609058.67611404

#### Regressão Lasso

In [69]:
# Lasso:
from sklearn.linear_model import Lasso
Lasso = Lasso()
Lasso = Lasso.fit(X_train, y_train)

# Prediction:
y_pred = Lasso.predict(X_test)

# Scores:
print(r2_score(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))

0.7299224812436084
31607746.45627961

#### Random Forest:

In [70]:
# Random Forest Regressor:
from sklearn.ensemble import RandomForestRegressor
RandomForestRegressor = RandomForestRegressor()
RandomForestRegressor = RandomForestRegressor.fit(X_train, y_train)

# Prediction:
y_pred = RandomForestRegressor.predict(X_test)

# Scores:
print(r2_score(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))

0.879724125979683
14076141.355070263

### Salvando o Algorítimo

In [71]:
import pickle

filename = 'CustoPlanoDeSaude.pkl'
pickle.dump(RandomForestRegressor, open(filename, 'wb'))